amqp==5.0.6
asgiref==3.3.4
autopep8==1.5.7
billiard==3.6.4.0
cached-property==1.5.2
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
Django==3.2.3
django-debug-toolbar==3.2.1
django-extra-checks==0.11.0
django-split-settings==1.0.1
django-widget-tweaks==1.4.8
importlib-metadata==4.0.1
kombu==5.1.0
mysqlclient==2.0.3
prompt-toolkit==3.0.18
psycopg2==2.8.6
pycodestyle==2.7.0
python-memcached==1.59
pytz==2021.1
redis==3.5.3
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.10.0.0
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.1
