
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coming Soon</title>

  <!-- Bootstrap -->
  <!-- <link href="{% static 'main/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

  <!-- Banner Style  -->
  <link rel="stylesheet" type="text/css" media="screen" href="banner-assets/css/divascookies_style_dark_top.css" />
  <style>
  .divascookies { background: rgba(0,0,0,.6); }
  .divascookies p.divascookies-banner-text { font-size: 1em; }
  .divascookies-accept-button-container>.divascookies-accept-button-text { font-size: 1em;   padding: 1px 10px;}
  </style>
  <!-- Custom styles -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,500,700,300' rel='stylesheet' type='text/css'>
  <link href="cs-public/assets/css/style.css" rel="stylesheet">
  <style type="text/css">
    .form-wrap input[type=text]::-webkit-input-placeholder { /* WebKit browsers */  color: #30bfbf; line-height: 26px;}
    .form-wrap input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */    color: #30bfbf; opacity:  1; }
    .form-wrap input[type=text]::-moz-placeholder { /* Mozilla Firefox 4 to 18 */   color: #30bfbf; opacity:  1; }
    .form-wrap input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #30bfbf; }
    .footer a:hover { color: #30bfbf; }
  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="style-1">
<div class="container">

	<div class="modal fade" id="overlay" tabindex="-1" role="dialog" aria-labelledby="overlayContent" aria-hidden="true">

	<div class="modal-dialog">

		<div class="modal-content">

			<i class="fa fa-times close-btn" data-dismiss="modal"></i>

			<div class="row">

				<section class="overlay-wrap col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

					<div class="row">


						<section class="content col-md-6 col-sm-6 col-lg-6">
							<h2 style="color: #30bfbf;">About</h2>
							<p>We manage your accounting and bookkeeping so you can focus on running your business</p>						</section>


						<section class="content col-md-6 col-sm-6 col-lg-6">
							<h2 style="color: #30bfbf;">Contact Us</h2>
							<ul>
<li>Email: info@kayaccountingclinic</li>
</ul>						</section>


					</div>

				</section>

			</div>

		</div><!-- /modal-content -->

	</div><!-- /modal-dialog -->

</div><!-- /modal -->
	<div class="row">

		<ul style="list-style:none; margin-top: 10px;">
				<li style="display: inline-block;"><a href="?theme=1">Light Theme</a> | </li>
				<li style="display: inline-block;"><a href="?theme=2">Dark Theme</a> | </li>
			</ul>

	  <section class="wrap col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

		<div class="row">

			<section class="content col-md-7 col-sm-7 col-lg-7">

								<i class="fa fa-bars more-btn pull-right visible-xs-inline-block" data-toggle="modal" data-target="#overlay"></i>

				<h2 style="color: #30bfbf;">Coming Soon</h2>
				<div class="h4"><p>Your virtual accounting clinic to manage all your bookkeeping and accounting services</p></div>				<div class="p"><p>We have been spending long hours in order to launch our new website.</p></div>			</section><!-- /content -->

			<section class="tweets col-md-5 col-sm-5 col-lg-5">

								<i class="fa fa-bars more-btn pull-right hidden-xs" data-toggle="modal" data-target="#overlay"></i>

				</section><!-- /tweets -->

		</div><!-- /row -->

		<div class="row">



		</div><!-- /row -->

		<div class="row">

			<section class="col-md-12">

				<div class="footer">

				</div>

			</section><!-- /subscribe -->

		</div><!-- /row -->

	  </section><!-- /wrap -->

	</div><!-- /row -->

</div><!-- /container -->

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <!--<script src="{% static 'main/js/bootstrap.min.js"></script>-->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="cs-public/assets/js/jquery.timeago.min.js"></script>
  <script src="cs-public/assets/js/script.min.js"></script>

  <!-- your Divas Cookies version -->
  <script type="text/javascript" src="banner-assets/js/jquery.divascookies-0.4.min.js"></script>
  <script text="text/javascript">
  	$.DivasCookies({
  		bannerText				: "This website uses cookies in order to improve your web experience. (Cookie banner is not included inside project)",
		cookiePolicyLink		: "http://www.evographics.net/cookie-policy.php",
		cookiePolicyLinkText	: "More info",
		acceptButtonText		: "Accept",

	});
  </script>
</body>
</html>