{% extends 'main/base.html' %}
{% load static %}
{% block main_content %}

<main>
	<section class="breadcrumb-area d-flex align-items-center"
		style="background-image:url('{% get_static_prefix %}main/assets/img/testimonial/test-bg.png')">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6">
					<div class="breadcrumb-wrap text-left">
						<div class="breadcrumb-title mb-30">
							<h2>Services</h2>
							<p>Build strong & impressive websites using our premade templates</p>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="breadcrumb-wrap">

						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Services</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb-area-end -->
	<!-- services-area -->
	<section class="services pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="services-bd-01 mb-30">
						<div class="services-icon">
							<img src="{% static 'main/content/se-icon6-1.png' %}" alt="img">
						</div>
						<div class="services-icon2">
							<img src="{% static 'main/content/se-icon6-af-1.png' %}" alt="img">
						</div>
						<div class="services-content2">
							<h5>Service 1</h5>
							<p>some short description on service 1</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="services-bd-01 mb-30">
						<div class="services-icon">
							<img src="{% static 'main/content/se-icon4-1.png' %}" alt="img">
						</div>
						<div class="services-icon2">
							<img src="{% static 'main/content/se-icon4-af-1.png' %}" alt="img">
						</div>
						<div class="services-content2">
							<h5>Service 2</h5>
							<p>some short description on service 2</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="services-bd-01 mb-30">
						<div class="services-icon">
							<img src="{% static 'main/content/se-icon7.png' %}" alt="img">
						</div>
						<div class="services-icon2">
							<img src="{% static 'main/content/se-icon7-af.png' %}" alt="img">
						</div>
						<div class="services-content2">
							<h5>Service 3</h5>
							<p>some short description on service 3</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="services-bd-01 mb-30">
						<div class="services-icon">
							<img src="{% static 'main/content/se-icon6.png' %}" alt="img">
						</div>
						<div class="services-icon2">
							<img src="{% static 'main/content/se-icon6-af.png' %}" alt="img">
						</div>
						<div class="services-content2">
							<h5>Service 4</h5>
							<p>some short description on service 4</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="services-bd-01 mb-30">
						<div class="services-icon">
							<img src="{% static 'main/content/se-icon5.png' %}" alt="img">
						</div>
						<div class="services-icon2">
							<img src="{% static 'main/content/se-icon5-af.png' %}" alt="img">
						</div>
						<div class="services-content2">
							<h5>Service 5</h5>
							<p>some short description on service 5</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="services-bd-01 mb-30">
						<div class="services-icon">
							<img src="{% static 'main/content/se-icon4.png' %}" alt="img">
						</div>
						<div class="services-icon2">
							<img src="{% static 'main/content/se-icon4-af.png' %}" alt="img">
						</div>
						<div class="services-content2">
							<h5>Service 6</h5>
							<p>some short description on service 6</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- services-area-end -->

	<!-- make-call-area -->
	<section id="make-call-area" class="make-call-area p-relative">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="section-title cta-title pt-180 mb-20">
						<h5><span class="line"> <img src="{% static 'main/assets/img/bg/circle_left.png' %}"
									alt="circle_right"></span> Make Call</h5>
						<h2>Get A Counsultancy For Your Business Now !</h2>
					</div>
					<p>Duis iaculis mi vel tincidunt pretium. Ut tincidunt augue neque, vitae consectetur odio varius a.
						Donec vel turpis et nisi pellentesque varius. Sed et dolor consequat, vulputate nunc a, molestie
						orci.</p>
					<div class="call-number mt-20 mb-15">
						<div class="icon"><img src="{% static 'main/assets/img/icon/call-icon.png' %}"
								alt="circle_right"></div>
						<h2>{{ config.phone }}</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- make-call-area-end -->
</main>

{% endblock main_content %}