
/* ========TABLE OF CONTENTS==========
00. Body, links, hgroup, paragraphs, general styles
01. Fixed header & Navigation
02. Section Intro (Home)
03. Section About
04. Section Resume
05. Section Portfolio
06. Section Blog
07. Section Contact
08. Footer
09. Loader
10. Responsive design

/*--------------------------------------------------
    00. Body, links, hgroup, paragraphs, general styles
---------------------------------------------------*/
body {
    color: #111!important;
}

body.single-post {
    overflow-y: scroll;
}
.blog-details-wrap .comment__wrap .children .single__comment {
    margin-left: 130px;
}
.avatar__info h5 {
    text-transform: capitalize;
}

.comment-form-cookies-consent {
    display: none;
}

.comment-text .avatar-name h6 {
    text-transform: capitalize;
}

.comment-text .avatar-name span {
    letter-spacing: 1px;
}

a.comment-reply-link {
    float: right;
    display: inline-block;
    border: 2px solid #f4f4ff;
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 14px;
    margin-top: -23px;
    font-weight: 600;
}

a.comment-reply-link:hover {
    border-color: #fe576b;
    background: #fe576b;
    color: #ffffff;
}

h3.comment-reply-title {
    text-transform: capitalize;
}

.blog-details-wrap .comment__wrap ul.children .single__comment {
    margin-left: 130px;
}

.blog-details-wrap .comment__wrap {
    padding-bottom: 10px;
}

.widget_custom_html .widget-social br {
    display: none;
}

.widget_categories {
    padding: 35px 25px 35px 25px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(243, 243, 243);
    overflow: hidden;
    margin-bottom: 40px;
}

.widget_categories ul li {
    background: #efefef;
    border: none;
    margin-bottom: 15px;
    padding: 10px 20px;
    float: left;
    width: 100%;
    line-height: 30px;
}

.widget_categories ul li a {
    background: #f4f4f4;
    border: none;
    height: auto!important;
    margin: -10px -10px -10px -20px;
    padding: 10px 20px;
    width: 93%;
    text-align: left;
}

.widget_tag_cloud {
    padding: 35px 25px 35px 25px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(243, 243, 243);
    overflow: hidden;
    margin-bottom: 40px;
}

.widget_tag_cloud ul.wp-tag-cloud li {
    display: inline-block;
}

.sidebar-about-contnent img {
    width: auto;
}

.sidebar-about-contnent > img + p {
    display: none; 
}

.widget_categories ul li:hover a {
    color: #fe576b;
}

.avatar__wrap {
    margin-top: 70px;
}

.blog-details-wrap div.gallery-size-full {
    display: none;
}

.post__tag ul li {
    margin-right: 10px;
}

div.image-column figure.image a.lightbox-image img {
    height: auto;
}

.service-detail .content-box .two-column .image-column p,
.service-detail .content-box .two-column > div.row + p {
    display: none; 
}

.service-detail .product-info-tabs .tabs-content > div.tab + p,
.service-detail .product-info-tabs .tabs-content div.tab > div.content + p {
    display: none;
}

ul.project-info br {
    display: none;
}

.single-project ul.project-info {
    width: 100%;
    right: 0px;
    padding: 0px;
}

.project-detail .inner-column .single-widget.mb-30 {
    margin-bottom: 0px;
}

.search-popup form.search-outer button[type="submit"] {
    color: #fe576b;
    font-size: 18px;
    border: none;
    background: inherit;
}

.footer-top .footer-widget .f-contact br,
.footer-top .footer-widget .footer-social br {
    display: none;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .footer-top .justify-content-between > div:first-child .f-contact li {
        display: block;
    }
    .footer-top .justify-content-between > div:first-child  .f-contact br {
        display: none!important;
    }
}

.footer-top .footer-widget .book-schedule div.text p {
    margin-bottom: 0px;
    margin-top: 10px;
}

.newslater-area form .newslater .form-group input[type="submit"] {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    text-transform: unset;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 0px 10px 10px 0px!important;
    background-image: -moz-linear-gradient( 0deg, rgb(254,87,107) 0%, rgb(254,157,106) 100%)!important;
    background-image: -webkit-linear-gradient( 0deg, rgb(252 57 80) 0%, rgb(15 35 76) 100%)!important;
    background-image: -ms-linear-gradient( 0deg, rgb(254,87,107) 0%, rgb(254,157,106) 100%)!important;
    color: #fff;
    height: 51px;
    right: 7px!important;
    width: 40%!important;
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 0;
    border: none!important;
}

.newslater-area form .newslater .form-group i {
    position: absolute;
    top: 19px;
    right: 35px;
    z-index: 999;
    color: #fff;
}

.case-study-content span > .cate-name {
    display: inline;
}

.case-study-content span > .cate-name:last-child {
    display: none;
}

.adim-box div.text a[rel=author] {
    text-transform: capitalize;
}

.search-custom h4 {
    margin-bottom: 22px;
    line-height: 32px;
}

.search-custom form#searchform-all {
    width: 70%;
}

.search-custom form#searchform-all button {
    border-radius: 0px;
}

.search-custom form#searchform-all input[type="search"] {
    height: 52px;
    background: #f5f5f5;
    border: none;
    padding-left: 25px;
    box-shadow: none;
}

.pagination-wrap .pagination span {
    border: none;
    height: 50px;
    width: 50px;
    display: block;
    line-height: 50px;
    background: -webkit-linear-gradient( 0deg, rgb(254,87,107) 0%, rgb(254,157,106) 100%);
    box-shadow: 3px 4px 15px #EB3449A6;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: #fe576b;
}

.offcanvas-menu form input::placeholder {
    color: #fff;
}

.admin-bar .second-header {
    margin-bottom: 0px!important;
}

.services-05 .section-title p {
    color: #fff;
}

.contact-area .contact-bg02 form .contact-form .slider-btn + p,
.contact-area .contact-bg02 form .contact-form .slider-btn span.ajax-loader {
    display: none;
}

.admin-bar .menu-area {
    margin-top: 0px;
}

.error-section {
    position: relative;
    padding: 100px 0px 100px;
}

.error-section .auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.error-section .content {
    position: relative;
    text-align: center;
}

.error-section h1 {
    position: relative;
    color: #222222;
    font-size: 180px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 10px;
}

.error-section h2 {
    position: relative;
    color: #222222;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.error-section .text {
    position: relative;
    color: #222222;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.error-section .btn-style-seven {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    overflow: hidden;
    background: none;
    border-radius: 7px;
    padding: 15px 42px 15px;
    text-transform: capitalize;
    border-radius: 8px;
    background-image: -moz-linear-gradient( 0deg, rgb(254,87,107) 0%, rgb(254,157,106) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(254,87,107) 0%, rgb(254,157,106) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(254,87,107) 0%, rgb(254,157,106) 100%);
}

.error-section .btn-style-seven:hover {
    background: -webkit-linear-gradient( 0deg, rgb(254,87,107) 0%, rgb(254,157,106) 100%);
    color: #fff;
    box-shadow: 2.5px 4.33px 15px 0px rgba(254, 88, 107, 0.4);
}

.widget_search form.search-form input.search-field::placeholder {
    font-size: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .second-menu .logo {
        margin-top: 0px;
    }

    .mobile-menu.mean-container {
        margin-top: 0px;
    }

    .mean-container .mean-nav ul li li a {
        opacity: 1;
    }

    .page-template-home-2-template .header-area .second-menu .logo {
        margin-top: 20px;
    }

    .page-template-home-2-template .mean-container a.meanmenu-reveal {
        margin-top: -60px;
    }

    .page-template-home-2-template .mean-bar .mean-nav {
        margin-top: 10px;
    }
}

@media (max-width: 767px) and (min-width: 600px) {
    .header-area .second-menu .logo img {
        margin-bottom: 15px;
    }

    .header-area .sticky-menu .second-menu .logo {
        margin-top: 15px;
    }

    .sticky-menu .mean-container a.meanmenu-reveal {
        margin-top: -65px;
    }

    .page-template-home-2-template .header-area .second-menu  .logo img {
        width: 60%;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    .page-template-home-2-template .mean-container a.meanmenu-reveal {
        margin-top: -45px;
    }

    .page-template-home-2-template .mean-container .mean-nav {
        margin-top: 24px;
    }
}

@media (max-width: 599px) {
    .header-area .second-menu .logo {
        margin-bottom: 15px;
    }

    .sticky-menu .logo {
        margin-top: 15px;
    }

    .page-template-home-2-template .header-area .second-menu .logo {
        margin-top: 15px;
    }

    .mean-container a.meanmenu-reveal {
        margin-top: -65px;
    }

    .sticky-menu .mean-container a.meanmenu-reveal {
        margin-top: -65px;
    }

    .page-template-home-2-template .header-area .second-menu  .logo img {
        width: 80%;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    .page-template-home-2-template .header-area .second-menu .logo {
        margin-bottom: 0px;
    }

    .page-template-home-2-template .mean-container a.meanmenu-reveal {
        margin-top: -45px;
    }

    .page-template-home-2-template .mean-container .mean-nav {
        margin-top: 24px;
    }
}

@media (max-width: 400px) {
    .header-area .second-menu .logo {
        margin-top: 15px;
    }
    .menu-area2 .mobile-menu.mean-container {
        margin-top: -15px;
    }
    .mean-container a.meanmenu-reveal {
        margin-top: -57px;
    }

    .page-template-home-2-template .header-area .second-menu .logo img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .services-text05 p {
        color: #fff;
    }
}

form .contact-form .your-message textarea::placeholder {
    color: #9e9e9e;
}

form .contact-form p {
    display: none;
}

.single-post.single {
    margin: 0px;
}

.single-service .sidebar-widget .widget.widget_categories li {
    background: #f4f4f4;
}

footer .footer-widget .f-widget-title > h5 + p {
    display: none;
}

footer .footer-widget > div.f-contact + p {
    display: none;
}

.blog-btn a {
    color: #333;
}

#contact-form4 input[name="your-email"] {
    color: #333!important;
}

#contact-form4 + div.cf-response-output {
    margin: 0px;
}

.blog-details-wrap .details__content figure > img.wp-image-15 + p {
    display: none;
}

ul.project-info li > p:nth-child(4) {
    display: none;
}

form .contact-form .btn.ss-btn {
    padding: 14px 25px 14px 25px;
}

@media (max-width: 767px) {
    .case-study-box-2 li {
        width: 100%;
        margin-bottom: 15px;
    }
}
.team-info .team-social {
    display: none;
    position: absolute;
    top: -80px;
    background: #fff;
    padding: 20px 0;
    width: 100%;
    left: 0;
}

@media (max-width: 1400px) {
    .case-study-content-hover {
        padding: 30px 30px 0;
    }
}

.case-study-box .case-study-content-hover p {
    line-height: 24px;
}

.team-area-content .lower-content .team-img-box img {
    border-radius: 50%;
}

.details__content figure img {
    margin-bottom: 35px;
}

.sidebar-widget .gallery-item {
    margin-bottom: 10px;
}

.sidebar-widget {
    position: inherit;
}

@media (max-width: 1200px) {
    section.services-area div.row > div.col-lg-6:first-child {
        margin-right: 0px;
    }

    section.services-area div.row > div.col-lg-6 {
        max-width: 100%;
    }

    .details__content-img img, .details__content figure img {
        height: auto;
    }
}

@media (max-width: 600px) {
    .admin-bar .sticky-menu {
        top: 0px;
        margin-top: 0px;
    }

    .blog-details-wrap .comment__wrap .children .single__comment {
        padding-left: 30px;
    }
}

@media (max-width: 400px) {
    .bsingle__content .meta-info ul li {
        margin-right: 10px;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .breadcrumb-area {
        min-height: 550px;
    }

    .breadcrumb {
        float: left;
    }
}

.main-menu ul li.active a {
    color: #181e23;
} 

.newslater-area form .newslater .form-group span.ajax-loader {
    display: none;
}
.header-top.second-header.d-none{
    display: none!important;
}
.menu-area{
    padding-top: 40px;
}
.menu-area.sticky-menu{
    padding-top: 0px;
}
.breadcrumb-title p{
    display: none!important;
}
.s-slider-content p{
    color: #111;
}
.case-study-content-hover > a{
    padding: 15px 20px;
    background: #fc404f;
    color: white;
    border-radius: 5px;
}
.case-study-content-hover > p{
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.icon11:before{
    color: #111;
}
.b-meta, .b-meta a{
    font-weight: 500;
    text-transform: capitalize;
}
.blog-content2 h4{
    margin-bottom: 20px;
}
.blog-content2 a.readmore1{
    padding: 15px 20px;
    background: #fc404f;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
p.blog-excerpt1{
    padding-bottom: 20px;
}
.blog-content2{
    padding-bottom: 45px;
}
.blog-content2 a.readmore1:hover{
box-shadow: 2.5px 4.33px 15px 0px rgb(254 88 107 / 40%);
}
.make-call-area p{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
}
.call-number{
    margin-bottom: 30px;
}